.kidSection {
  border-bottom: 8px solid #222;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 1900px;
  margin: 0px auto;
  padding: 50px 20px;
}

.kidContainer {
  max-width: 80%;
  text-align: center;
  padding: 90px 0px 10px;
}

.title {
  color: #fff;
  font-size: 35px;
}

.subtitle {
  padding: 20px 0px;
}

.img {
  max-width: 100%;
}
