.container {
  padding: 150px 0px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/src/img/maiinbg.jpeg);
}

.wrapper {
  min-width: 300px;
  max-width: 400px;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 0px;
  border-radius: 5px;
  height: 500px;
}

.form {
  padding: 0px 40px 30px;
}

.email {
  margin-bottom: 20px;
}

.label {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}

.btn {
  background-color: #e50914;
  margin-top: 50px;
  margin-bottom: 30px;
}

.registration {
  color: #fff;
}
