.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 0px;
  border-radius: 5px;
  margin-top: 15px;
}
@media screen and (max-width: 374px) {
  .wrapper {
    margin-top: 80px;
  }
}

.form {
  padding: 0px 40px 30px;
}

.email {
  margin-bottom: 20px;
}

.label {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}

.btn {
  background-color: #e50914;
  margin-top: 50px;
  margin-bottom: 30px;
}

.registration {
  color: #fff;
}

.signUp {
  color: #737373;
}
